<!doctype html>
<html  lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>pokemon</title>
  <meta name="description" content="">
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js"
          integrity="sha384-qbtR4rS9RrUMECUWDWM2+YGgN3U4V4ZncZ0BvUcg9FGct0jqXz3PUdVpU1p0yrXS"
          crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
  <script src="https://unpkg.com/handlebars@latest/dist/handlebars.min.js"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.css"
  >

</head>

<body>


<main class="container">

  <div hx-ext="client-side-templates"
       hx-get="https://pokeapi.co/api/v2/pokemon/" hx-trigger="load"
       handlebars-template="pokemonResponse"
       hx-swap="beforeend"
       hx-target="#pokemonGrid"
       class="fixed-grid has-4-cols">
    <div class="grid" id="pokemonGrid">

    </div>
  </div>


</main>
<script id="pokemonResponse" type="text/x-handlebars">
  {{#each results}}
    <div class="cell card"
      {{#if @last}}
         hx-get="{{../next}}" hx-trigger="intersect once"
         handlebars-template="pokemonResponse"
         hx-swap="beforeend"
         hx-target="#pokemonGrid"
      {{/if}}
    >
      <header class="card-header">
        {{name}}
      </header>
      <div class="card-content" hx-ext="client-side-templates">
        <div class="content" hx-get="{{url}}" hx-trigger="intersect once" handlebars-template="pokemonDetail"
             hx-target="this">
        </div>
      </div>
    </div>
  {{/each}}
</script>
<script id="pokemonDetail" type="text/x-handlebars">
  <img src="{{sprites.front_default}}" alt="{{name}} front image"/>
  {{#each types}}

    <span class="tag is-primary">{{type.name}}</span>
  {{/each}}
</script>
</body>

</html>
