<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/htmx.org/1.9.10/dist/htmx.js"></script>
<!--    <link rel="stylesheet" href="/webjars/picocss__pico/1.5.10/css/pico.css"/>-->
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body class="dark:bg-gray-900 dark:text-slate-200">
<div class="mt-2 text-xl bg-blue-900" th:text="'Hello!'" ></div>



<main id="mainContent" class="w-3/4 ">
  <form>
      <label for="name">name</label>
      <input name="name" id="name" th:value="customer.name">
  </form>
</main>
</body>
</html>
