<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/htmx.org/1.9.10/dist/htmx.js"></script>
<!--    <link rel="stylesheet" href="/webjars/picocss__pico/1.5.10/css/pico.css"/>-->
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>
<div class="mt-2 text-xl bg-blue-900" th:text="'Hello!'" ></div>



<main id="mainContent" class="container">
    <table>
    <tr th:each="customer: ${customers}">
        <td th:text="${customer.id}" />
        <td th:text="${customer.name}" />
    </tr>
    </table>
</main>
</body>
</html>
