<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/htmx.org/1.9.4/dist/htmx.js"></script>
    <link rel="stylesheet" href="/webjars/picocss__pico/1.5.10/css/pico.css"/>

</head>
<body>
<script>
    function changePath(path){
        console.log(path);
        window.history.replaceState({},"", path);
    }
</script>
<div >
    <div hx-boost="true" hx-get="/page/main" hx-target="#mainContent" hx-on="click: changePath('/')" >Main</div>
    <div  hx-boost="true" hx-get="/page/about" hx-target="#mainContent" hx-on="click: changePath('/about')" >About</div>
</div>
<div hx-boost="true" class="grid"  hx-headers='{"page-fragment": true}'  hx-target="#mainContent" >
    <a href="/page/main"  >Go To Page 1</a>
    <a href="/page/about" >Go To Page 2</a>
</div>

<main id="mainContent" class="container">
    <div th:insert="~{${fragment}}"></div>
</main>
</body>
</html>
